.header{
    background-color: #AE6238;
    padding: 30px 0;
}

.episodes{
    padding: 20px 0;
    background-image: url(../images/bgcozcamweb.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .episodes {
        background-image: url(../images/bgcozcammob.png);
    }
  }
  
.line hr{
    margin-top: -15px;
    border: 3px solid #E88F3D;
    width: 80px;
    opacity: 1;
    border-radius: 20px;
}
        
.line2 hr{
    border: 3px solid #83CFFB;
}

.header-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cozcam-logo{
    width: 250px;
}

.social-media{
    margin-top: 10px;
}

.header-title{
    color: white;
}

.sec-title{
    margin-top: 20px;
    font-family: 'Archivo Black';
    font-size: 24px;
}

.social-media-icons svg{
    fill:white;
    width: 25px;
    height: 25px;
    transition: 0.5s;
    margin: 0 10px 0 10px;
}

.social-media-icons svg:hover{
    fill:#83CFFB;
}

.social-media-icons a{
    text-decoration: none;
}

.episodes-list{
    display: flex;
    flex-direction: column;
}

.episodes-list a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    transition: 0.5s;
}

.episodes-list a:hover{
    color: #f3993e;
}

.episodes-list span{
    font-size: 12px;
    font-weight: bold;
}

/* _________ */

.header-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-right img{
    height: 380px;
}

.yt-video{
    margin-top: 20px;
    border-radius: 20px;
    width: 350px;
    height: calc(350px / 1.7777);
}

@media only screen and (max-width: 600px) {
    .yt-video {
        width: 330px;
        height: calc(330px / 1.7777);
    }
}

.video-info{
    margin-top: 10px;
    font-family: 'Montserrat';
    color:white;
}

  /* _________ */

  .release-text{
    text-align: justify;
    font-family: 'Montserrat';
  }

  .yt-video2{
    border-radius: 30px;
    width: 500px;
    height: calc(500px / 1.7777);
}

  @media only screen and (max-width: 600px) {
    .yt-video2 {
        width: 330px;
        height: calc(330px / 1.7777);
        margin-bottom: 20px;
    }
  }

    /* _________ */

  .patrocinadores{
    background-color: #83CFFB;
    padding-bottom: 20px;
  }

  .div-pat{
    margin-top: -20px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .div-pat img{
    max-width: 200px;
    margin-top: 20px;
  }

      /* _________ */

.div-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.logo-link{
    transition: 0.5s;
    transform: scale(1);
}

.logo-link:hover{
    transform: scale(1.05);
}

.logo-idk{
    width: 150px;
}

.release-text a{
    text-decoration: none;
    color: green;
}

.release-text a:hover{
    color: #E88F3D;
}

.release-text svg{
    fill:green;
    width: 20px;
    height: 20px;
}