
@media only screen and (max-width: 800px) {
    .foto-clara {
        display: none;
    }
    .div-foto{
        margin: 20px 0;
    }
    .div-text{
        margin: 20px 0;
    }
    .yt-title{
        font-size: 16px;
        margin-top: 30px;
    }
    .yt-title span{
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    .yt-video{
        width: 350px;
        height: calc(350px / 1.7777);
    }
    .line-footer{
        height: 70px;
    }
  }